*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  margin: 0;
}

.ativ-topo__barra,
.ativ-rodape > .ativ-container {
  padding-inline: var(--ativ-grade-margem);
}
